<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PostCrypto</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- <script type="text/javascript" src="js/web3.min.js"></script>
	<script type="text/javascript">  		  
		const web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8123/"));

		function unlockAccounts()
		{
			let accounts = web3.eth.accounts;
			debugger;
		}

	</script>-->
</head>
<body>
	<h1>WEB3</h1>
	<!-- <button onclick="unlockAccounts();">계정잠금해제</button> -->
	
</body>
</html>